.dashboard-container {
  display: grid;
  grid-template-columns: 7rem minmax(min-content, 1fr);
  grid-template-rows: 16rem minmax(min-content, 1fr);
  height: 100vh;
  background-color: $color-bg-1;
}