.sidebar {
  z-index: 100;
  grid-row: 1 / -1;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 1rem;
  color: $color-dark-2;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  background-color: $color-sidebar-1;

  &__icon {
    width: 2.6rem;
    height: 2.6rem;
    margin-bottom: 5px;
  }

  &__icon.disable {
    cursor: not-allowed;
  }

  &__initial {
    padding: 0.6rem 1.2rem;
    font-size: 1.6rem;
    color: #fff;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;

    &:hover {
      border: 2px solid rgba(255, 255, 255, 0.3);
      cursor: default;
    }
  }

  &__hr {
    height: 0.5px;
    width: 20px;
    background-color: $color-dark-2;
  }

  &__projects {
    color: #fff;
    cursor: pointer;
  }

  &__trial-left {
    margin-top: 2rem;
    text-decoration: underline;
    text-transform: none;

    &:hover {
      color: #fff;
      cursor: pointer;
    }
  }

  &__getting-started-percentage {
    padding: 0.5rem 1rem;
    font-weight: 600;
    color: #fff;
    background-color: rgba($color-dark-4, 0.3);

    &:hover {
      background-color: rgba($color-dark-4, 0.5);
      cursor: default;
    }
  }
}
