*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  max-width: 160rem;
  margin: 0 auto;
  font-family: $font-primary;
  font-size: 1.3rem;
  color: $color-font-primary;
}
