// Colors
$color-primary: #596063;

$color-bg-1: #F8FAFB;
$color-bg-2: #EEF1F2;

$color-sidebar-1: #2F3E4C;
$color-sibebar-2: #44505D;

$color-grey-1: #e3e3e3;
$color-grey-2: #dfdfdf;
$color-grey-3: #e2e8ee;
$color-grey-4: #6e7e8e;

$color-green: #3EC880;

// Fonts
$font-primary: "Poppins", sans-serif;

// Spacing
$s-size: 1.2rem;
$m-size: 3.2rem;
$l-size: 4.8rem;
$xl-size: 8rem;

// Responsive Breakpoints
$bp-largest: 62.5em; // 1000px
$bp-large: 53em; // 848px                
$bp-medium: 46em; // 736px
$bp-medium-small: 37.5em; // 600px
$bp-small: 32em; // 512px
$bp-smallest: 22em; // 352px;
