// Colors
$color-font-primary: #596063;
$color-font-secondary: #414648;

$color-bg-1: #f8fafb;
$color-bg-2: #eef1f2;

$color-sidebar-1: #44505d;
$color-sidebar-2: #2f3e4c;

$color-grey-1: #e3e3e3;
$color-grey-2: #dfdfdf;
$color-grey-3: #e2e8ee;
$color-grey-4: #ececec;
$color-grey-5: #aaa;

$color-dark-1: #6e7e8e;
$color-dark-2: #6e848b;
$color-dark-3: #505d6d;
$color-dark-4: #a7aeb6;

$color-green: #3ec880;
$color-blue: #4eabd2;
// Fonts
$font-primary: "Poppins", sans-serif;

// Spacing
$s-size: 1.2rem;
$m-size: 3.2rem;
$l-size: 4.8rem;
$xl-size: 8rem;

// Responsive Breakpoints
$bp-largest: 62.5em; // 1000px
$bp-large: 53em; // 848px                
$bp-medium: 46em; // 736px
$bp-medium-small: 37.5em; // 600px
$bp-small: 32em; // 512px
$bp-smallest: 22em; // 352px;
